@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
	font-family: 'SUITE-Regular';
	font-weight: 500;
}

#background::after {
	background-image: url("/resource/papertexture1280_pixabay.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.13;
	
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	z-index: -1;
}